<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<h1> Binance Market data Query </h1>

	<fieldset id="symbols_fdset"class="field_set">
	<legend>List of Exchange Supported Symbols</legend>
		<label align="left" >Select a Symbol : </label>
		<select name="symbol" id="symbol" >
		  <option id=""></option>
		</select>
	</fieldset><br>
	
	<fieldset id="symbols_fdset"class="field_set">
	<legend>Display Market Data Snapshot</legend>
		<input type="button" value="Show/Refresh" onclick="request_md_book()">
		<p id="md_book"></p>
	</fieldset><br>
	
<script>
	window.onload = function () {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 &&  xhr.status == 200 ) {
                var symbols = xhr.response.split(",");  
                var select = document.getElementById("symbol");
                for(var i = 0; i < symbols.length; i++) {
                	var option = document.createElement('option');
        			option.text = option.value = symbols[i];
        			select.add(option, 0);
    			}
            }
        }
        let url = new URL(window.location.href + 'symbols');
        xhr.open('get', url, true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhr.send();
    }

    function request_md_book(){
    	let url = new URL(window.location.href + 'book');
    	var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 &&  xhr.status == 200 ) {
            	var book_data = JSON.parse(xhr.response)
                display_book(book_data)
            }
        }
        url.searchParams.set('symbol', document.getElementById("symbol").value);
        url.searchParams.set('limit', 20); // Can be made dynamic
        xhr.open('get', url, true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhr.send();
	}

	function display_book(md_book) {
		var bid_book = md_book.bids
		var ask_book = md_book.asks

		var book_columns = ['Level', 'Bid Price','Bid Qty','Ask Price','Ask Qty'];

        var table = document.createElement("table");
        // CREATE HTML TABLE HEADER ROW USING book columns

        var tr = table.insertRow(-1);                   // TABLE ROW.
        for (var i = 0; i < book_columns.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = book_columns[i];
            tr.appendChild(th);
        }
        // ADD JSON DATA TO THE TABLE AS ROWS.
        level = 0
        for (var i = 0; i < bid_book.length || i < ask_book.length; i++) {
            tr = table.insertRow(-1);
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = ++level;

            for (var j = 0; j < 2; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = bid_book[i][j];
            }
            for (var j = 0; j < 2; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = ask_book[i][j];
            }
        }
 
        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("md_book");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }


</script>

</body>
</html>

